#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  position: relative;
}

#time {
  font-size: 4em;
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 500;
  letter-spacing: 4px;
  transition: all .5s ease;
  padding: 30px;
}

#time .sec {

}
